@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-inside {
	font-weight: bold;
}

.thermo-inside--temp {
	color: $red;
}

.thermo-inside--temp-icon {
	font-size: 1.8rem;
	vertical-align: super;
}

.thermo-inside--humi {
	color: $teal;
}

.thermo-inside--humi-icon {
	font-size: 1.8rem;
	vertical-align: super;
}
