@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-inside {
	font-size: 2.5rem;
	line-height: 1.5rem;
	font-weight: bold;
}

.thermo-inside--temp {
	color: $red;
}

.thermo-inside--temp-icon {
	@include icon('thermometer6');
	font-size: 1.8rem;
	vertical-align: super;
}

.thermo-inside--humi {
	color: $teal;
}

.thermo-inside--humi-icon {
	@include icon('humidity');
	font-size: 1.8rem;
	vertical-align: super;
}
