@import '../../styles/icons/mixins';
@import '../../styles/colors/variables';

.thermo {
	text-align: center;
}

.thermo-house--component {
	height: calc(100% - 10px);
}

.thermo-house--icon {
	font-size: 15rem;
	font-weight: 100;
	margin: 0 -1rem;
}

.thermo-heating--power {
	position: absolute;
	right: 20px;
	z-index: 11;
}

.thermo-house--outside {
	display: inline-block;
}

.thermo-house--inside {
	position: relative;
	display: inline-block;
	margin-left: -7px;
	padding: 20px 0 20px 0;
	text-align: left;
}

.thermo-heating--target {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.thermo--inside {
	position: absolute;
	left: 40px;
	top: 110px;
}

.thermo-heating--status {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	text-align: center;
}

.thermo-heating--duration {
	position: absolute;
	top: 210px;
	left: 50px;
	font-size: 1.2rem;
	color: $dark-gray;
}
