<div class="thermo">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-5 col-xl-4">
			<div class="component">
				<div class="thermo-house--outside">
					<thermo-outside [temperature]="outsideConditions.temperature" [humidity]="outsideConditions.humidity" [weatherIconClass]="outsideConditions.weatherIconClass"></thermo-outside>
				</div>

				<div class="thermo-house--inside">
					<i class="icon-house-simple thermo-house--icon color-gray"></i>

					<div class="thermo-heating--status">
						<thermo-heating-status [isHeatingOn]="heatingStatus"></thermo-heating-status>
					</div>

					<div class="thermo--inside">
						<thermo-inside [temperature]="insideConditions.temperature" [humidity]="insideConditions.humidity"></thermo-inside>
					</div>

					<div class="thermo-heating--duration">
						<thermo-heating-duration [heatingDuration]="heatingDuration"></thermo-heating-duration>
					</div>
				</div>

				<div class="thermo-heating--target">
					<thermo-heating-target [targetTemp]="targetTemp"></thermo-heating-target>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-6 col-lg-7 col-xl-8">
			<div class="row">
				<div *ngFor="let sensor of sensorList" class="col-12 col-sm-6 col-xl-4">
					<div class="component">
						<thermo-sensor
							[id]="sensor.id"
							[temperature]="sensor.temperature"
							[humidity]="sensor.humidity"
							[active]="sensor.active"
							[enabled]="sensor.enabled"
							[label]="sensor.label"
							[restartSensorInProgress]="restartSensorInProgress">
						</thermo-sensor>
					</div>
				</div>
			</div>
		</div>


		<div class="col-12">
			<div class="component">
				<thermo-heating-current-plan
					[targetTemp]="targetTemp"
					[todaysPlan]="todaysPlan"
					[currentTime]="currentTime"
					[percentInDay]="percentInDay"
					(onChangePlan)="showChangePlanModal($event)">
				</thermo-heating-current-plan>
			</div>
		</div>
	</div>
</div>

	<!--

	<div class="thermo-status--inside">
		<i class="icon-house-simple thermo-status--house-icon color-{{security === SECURITY_STATUSES.PREACTIVATED ? 'orange' : security === SECURITY_STATUSES.ACTIVATED ? 'red' : 'gray'}}"></i>

		
		<i class="icon-{{security === SECURITY_STATUSES.ARMED ? 'padlock-closed' : 'padlock-open'}} thermo-status--icon-lock color-{{SECURITY_ARMED_STATUSES.includes(security) ? 'red' : security === SECURITY_STATUSES.ARMING ? 'orange' : 'green'}}" ng-click="scope().securityToggleAlarm()"></i>
		<div class="thermo-status--value thermo-status--temp">
			<i class="icon-thermometer6"></i> <span ng-bind-html="inside.temp | float"></span>
		</div>

		<div class="thermo-status--value thermo-status--humi">
			<i class="icon-humidity"></i> {{inside.humi}}
		</div>

		<div class="thermo-status--run-duration">
			<i class="icon-fire"></i> {{statisticsForToday.heatingDuration | duration}}
		</div>
	</div>
</div>

<div class="thermo-component thermo-target">
	<div class="thermo-target--control">
		<button type="button" class="thermo-target--button thermo-target--decrease" ng-click="scope().tempAdjust(targetTemp.ref._id, -0.1)">-</button>
		<span class="thermo-target--value color-{{targetTemp.ref.color}}"><span ng-bind-html="targetTemp.ref.value | float"></span> &deg;C</span>
		<button type="button" class="thermo-target--button thermo-target--increase" ng-click="scope().tempAdjust(targetTemp.ref._id, 0.1)">+</button>
	</div>-->
