<div class="modal-header">
	<h4 class="modal-title">Settings</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-12">
			<h2>Temperature settings</h2>
			<div class="thermo-temps row">
				<div class="thermo-temps--temp col-xs-6 col-lg-4" *ngFor="let temp of dataStore.temperatures | keyvalue">
					<div class="color-{{temp.value.color}}">
						<i class="{{temp.value.iconClass}}"></i> <span class="thermo-temps--temp-name">{{temp.value.name}}</span>
						<div class="thermo-temps--temp-control" data-id="{{temp.key}}">
							<button type="button" class="thermo-temps--temp-button thermo-temps--temp--decrease" (click)="tempAdjust(temp.value, -0.1)">-</button>
							<span class="thermo-temps--temp-value">{{temp.value.value | integer}}<span class="decimal">.{{temp.value.value | decimal}}</span> &deg;C</span>
							<button type="button" class="thermo-temps--temp-button thermo-temps--temp--increase" (click)="tempAdjust(temp.value, 0.1)">+</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<h2>
				Switch thresholds
				<br/>
				<small><small><small>(compared to the target temperature)</small></small></small>
			</h2>
			<div class="thermo-switch--config row">
				<div class="thermo-switch--value col-6">
					<h5>Switch on</h5>

					<button type="button" class="thermo-switch--button thermo-switch--decrease" (click)="switchAdjust(switchThresholdBelow, -0.1)">-</button>
					<span class="thermo-switch-value">{{switchThresholdBelow.value | integer}}<span class="decimal">.{{switchThresholdBelow.value | decimal}}</span> &deg;C</span>
					<button type="button" class="thermo-switch--button thermo-switch--increase" (click)="switchAdjust(switchThresholdBelow, 0.1)">+</button>
				</div>

				<div class="thermo-switch--value col-6">
					<h5>Switch off</h5>

					<button type="button" class="thermo-switch--button thermo-switch--decrease" (click)="switchAdjust(switchThresholdAbove, -0.1)">-</button>
					<span class="thermo-switch-value">{{switchThresholdAbove.value | integer}}<span class="decimal">.{{switchThresholdAbove.value | decimal}}</span> &deg;C</span>
					<button type="button" class="thermo-switch--button thermo-switch--increase" (click)="switchAdjust(switchThresholdAbove, 0.1)">+</button>
				</div>
			</div>
		</div>

		<div class="col-12">
			<h2>Plan for the week</h2>
			<div class="thermo-default-plans clearfix">
				<div class="thermo-default-plans--plan" [ngClass]="{ 'thermo-default-plans--current-date': currentDate === i + 1 }" *ngFor="let defaultPlan of dataStore.defaultHeatingPlans | slice:1; let i = index" (click)="changePlan(defaultPlan.dayOfWeek)">
					<div class="thermo-default-plans--day-name">{{ defaultPlan?.nameOfDay }}</div>

					<i class="{{defaultPlan.plan.iconClass}}"></i>
				</div>

				<div class="thermo-default-plans--plan" [ngClass]="{ 'thermo-default-plans--current-date': currentDate === 0 }" (click)="changePlan(0)">
					<div class="thermo-default-plans--day-name">{{dataStore.defaultHeatingPlans[0]?.nameOfDay}}</div>

					<i class="{{dataStore.defaultHeatingPlans[0]?.plan?.iconClass}}"></i>
				</div>
			</div>
		</div>

		<div class="col-12">
			<h2>Plan overrides</h2>
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let planOverride of dataStore.heatingPlanOverrides">
					<strong>{{ planOverride.date | date:'yyyy/MM/dd' }}:</strong>
					<i class="icon-{{ planOverride.plan?.iconClass }}"></i>
					{{ planOverride.plan?.name }}

					<i class="icon-garbage" (click)="removeOverride(planOverride)"></i>
				</li>
			</ul>

			<div class="input-group">
				<input type="text"
					placeholder="Date"
					class="form-control"
					bsDatepicker
					placement="top" [(ngModel)]="overrideToAdd.date">
				<input type="text" value="{{ overrideToAdd.plan?.name }}" class="form-control" placeholder="Select plan" (click)="selectPlan()">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="button" (click)="addOverride()">Add</button>
					<button class="btn btn-outline-secondary" type="button" (click)="clearOverrideToAdd()">Clear</button>
				</div>
			</div>
		</div>
	</div>
</div>
