.thermo-current-plan {
	position: relative;
	overflow: hidden;
}

.thermo-current-plan--change {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 1.5rem;
}

.thermo-current-plan--current-time {
	position: relative;
	margin-left: 5px;
	font-weight: bold;
	text-align: left;
	height: 1.8rem;
	bottom: -0.6rem;
	font-size: 0.8rem;

	.thermo-current-plan--pointer {
		display: inline-block;
		width: 2px;
		height: 100%;
		margin-bottom: -1.2rem;
	}

}

.thermo-current-plan--label {
	display: table;
	width: 100%;
	height: 100%;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
