@import '../../../../styles/variables';

.gateway {
	height: calc(100% - 10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.gateway-reset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 2rem;
	font-size: 1rem;
	background-color: #f7f7f7;
	background-image: linear-gradient(#f7f7f7, #e7e7e7); 
	width: 144px;
	height: 144px;
	margin: 25px;
	position: relative;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	position: relative;
	cursor: pointer;
	transition: all 1s ease;

	&:after {
		content: '';
		position: absolute;
		width: calc(100% + 14px);
		height: calc(100% + 14px);
		padding: 18px;
		border-radius: 50%;
		left: -7px;
		top: -7px;
		box-shadow: 0px 0px 13px;
		transition: all 1s ease;
	}

	i {
		font-size: 4rem;
		color: $olive;
		opacity: 0.6;
	}

  span {
    display: block;
    max-width: 70%;
    line-height: 1rem;
    min-height: 34px;
    display: flex;
    align-items: center;
  }
}

.gateway-status-connected {
	&,
	i,
	&:after {
		color: $olive;
	}
}

.gateway-status-disconnected {
	&,
	i,
	&:after {
		color: $red;
	}
}

.reset-in-progress {
	&,
	i,
	&:after {
		color: $orange;
	}

  &:after {
    animation: pulsate-shadow 1s infinite;
  }
}

.last-reset {
	align-self: flex-end;
}
