<div class="component" style="margin: 25px; padding: 20px;">
    <a href="/">
        <div class="login-logo"><img src="{{assetsStaticBasePath}}/favicon-32x32.png" /> SmartHome</div>
    </a>

    <h3>Privacy Policy</h3>
    In order to request your data to be deleted, please write to the following email address: roland.vachter (at) gmail (dot) com
</div>
