<div class="content">
    <div class="component">
        <a href="/">
            <div class="login-logo"><img src="{{assetsStaticBasePath}}/favicon-32x32.png" /> SmartHome</div>
        </a>
        
        <h4>It seems that you do not have access to this app.</h4>

        <a href="/login">Back to login page</a>
    </div>
</div>
