<div class="content">
    <div class="component">
        <a href="/">
            <div class="login-logo"><img src="{{assetsStaticBasePath}}/favicon-32x32.png" /> SmartHome</div>
        </a>

        <h4>{{message}}</h4>
        <h5>{{error.status}}</h5>
        <pre>{{error.stack}}</pre>

        <a href="/">Back to home page</a>
    </div>
</div>
