<div class="content">
    <div class="component">
        <a href="/">
            <div class="login-logo"><img src="{{assetsStaticBasePath}}/favicon-32x32.png" /> SmartHome</div>
        </a>

        <h4>{{message}}</h4>
        <h5>Try to log in again using one of the following providers:</h5>
        <a href="/login/facebook" class="facebook-login">
            <img src="{{assetsStaticBasePath}}/images/facebook-logo.svg" />
            Facebook
        </a>

        {{!-- <a href="/login/google" class="google-login">
            <img src="{{assetsStaticBasePath}}/images/google-logo.svg" />
            Google
        </a> --}}
    </div>
</div>
