<div class="content">
    <div class="component">
        <a href="/">
            <div class="login-logo"><img src="{{assetsStaticBasePath}}/favicon-32x32.png" /> SmartHome</div>
        </a>

        <h4>Please log in using one of the following providers:</h4>
        
        <a href="/login/facebook" class="facebook-login">
            <img src="{{assetsStaticBasePath}}/images/facebook-logo.svg" />
            Facebook
        </a>

        <a href="/login/google" class="google-login">
            <img src="{{assetsStaticBasePath}}/images/google-logo.svg" />
            Google
        </a>

        <br/><br/>

        <a href="/data-deletion">Data deletion</a> |
        <a href="/privacy-policy">Privacy policy</a> |
        <a href="/terms-of-service">Terms of service</a>
    </div>
</div>
