.thermo-heating--power {
	text-align: center;
	min-width: 100px;
}

.thermo-heating--power-button {
	font-size: 1.5rem;
	cursor: pointer;
}

.thermo-heating--power-status {
	font-size: 1.5rem;
}

.thermo-heating--power-counter {
	font-size: 1.2rem;
	line-height: 1.7rem;
	vertical-align: text-bottom;
}
