<ng-container *ngIf="user && locationService.getSelectedLocation()">
	<div class="navbar navbar-light navbar-expand-xl smart-navbar">
		<div class="container">
			<div class="smart-header">
				<div class="smart-header--content">
					<div class="logo">
						SmartHome
					</div>

					<div class="smart-header--actions">
						<span class="location-selector" *ngIf="user.locations.length > 1">
							<div class="btn-group" dropdown>
								<button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
									{{ locationService.getSelectedLocation().name }}
								</button>
								<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
									<li role="menuitem" *ngFor="let location of user.locations">
										<a class="dropdown-item" (click)="changeLocation(location)">{{ location.name }}</a>
									</li>
								</ul>
							</div>
						</span>

						<div class="smart-refresh in-progress" [ngClass]="{'color-gray': updateStatus === 'fresh', 'color-orange': updateStatus === 'idle', 'color-red': updateStatus === 'outdated', 'smart-spin': refreshInProgress}" (click)="refresh(true)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mainContent container">
		<thermo-outside></thermo-outside>

		<div class="row">
			<div class="col">
				<div class="home-wrapper">
					<div class="home">
						<thermo-heating-status></thermo-heating-status>
						<div class="inside-temperatures">
							<thermo-inside></thermo-inside>
						</div>
						<ng-container *ngIf="hasFeature('security')">
							<security-statuses></security-statuses>
							<security></security>
						</ng-container>
						<img src="/assets/static/images/house.webp">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<thermo-sensor-list></thermo-sensor-list>
			</div>
		</div>
	</div>

	<!-- <div class="mainContent container">
		<div class="row">
			<div class="col-md col-12" *ngIf="hasFeature('security')">
				<security class="align"></security>
			</div>

			<div class="col-md col-12" *ngIf="hasFeature('heating')">
				<thermo-heating-status class="align"></thermo-heating-status>
			</div>
		</div>

		<div class="row" *ngIf="hasFeature('heating')">
			<div class="col-12">
				<thermo-sensor-list></thermo-sensor-list>
			</div>
		</div>

		<div class="row" *ngIf="hasFeature('heating')">
			<div class="col-12">
				<thermo-heating-current-plan></thermo-heating-current-plan>
			</div>
		</div>
	</div> -->
</ng-container>
