<div class="navbar navbar-light navbar-expand-xl smart-navbar">
	<div class="container">
		<div class="smart-header">
			<div class="smart-header--content">
				<span class="logo-placeholder"></span>

				<div class="logo">
					SmartHome
				</div>

				<div class="smart-refresh in-progress" [ngClass]="{'color-gray': updateStatus === 'fresh', 'color-orange': updateStatus === 'idle', 'color-red': updateStatus === 'outdated', 'smart-spin': refreshInProgress}" (click)="refresh(true)"></div>
			</div>
		</div>
	</div>
</div>

<div class="mainContent container">
	<div class="row">
		<div class="col-md-6 col-12">
			<security class="align"></security>
		</div>

		<div class="col-md-6 col-12">
			<thermo-heating-status class="align"></thermo-heating-status>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<thermo-sensor-list></thermo-sensor-list>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<thermo-heating-current-plan></thermo-heating-current-plan>
		</div>
	</div>
</div>
