@import '../styles/variables';
@import '../styles/icons/mixins';
@import '../styles/icons/classes';

.smart-navbar {
	background: $white;
	border-bottom: 1px solid $gray;
	color: $orange;
	font-size: 1.6rem;
	text-align: center;
	width: 100%;
	padding: 0;
	font-family: 'Jura';
	position: fixed;
	top: 0;
	z-index: 10;
}

.mainContent {
	padding-top: 52px;

	.align {
		height: 100%;
	}
}

.smart-refresh {
	vertical-align: middle;
	cursor: pointer;
	padding-top: 4px;

	@include icon('continuous');
}

@keyframes spin {
	0% {}
	100% {
		transform: rotate(360deg);
	}
}
.smart-spin {
	animation: spin 1s 16 ease;
}

.smart-header {
	width: 100%;
}

.smart-header--content {
	padding: 0 15px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.smart-header--actions {
	display: flex;
	flex-direction: row;

	> * {
		margin-left: 10px;
	}
}

.location-selector {
	display: block;

	.btn {
		padding-top: 0;
		padding-bottom: 0;
	}

	a {
		cursor: pointer;
	}
}
