@font-face {
	font-family: 'icomoon';
	src:  url($assets-static-global-path + 'fonts/icomoon.eot?hxi1c');
	src:  url($assets-static-global-path + 'fonts/icomoon.eot?hxi1c#iefix') format('embedded-opentype'),
		url($assets-static-global-path + 'fonts/icomoon.ttf?hxi1c') format('truetype'),
		url($assets-static-global-path + 'fonts/icomoon.woff?hxi1c') format('woff'),
		url($assets-static-global-path + 'fonts/icomoon.svg?hxi1c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
