<div class="modal-header">
	<h4 class="modal-title">Change label</h4>
	<button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form (ngSubmit)="onSubmit()" #changeSensorLabelForm="ngForm">
		<div class="form-group">
			<input type="text" class="form-control" id="label" name="label" [(ngModel)]="label">
		</div>

		<button type="submit" class="btn btn-info">Submit</button>
		<button type="button" class="btn btn-outline-dark" (click)="bsModalRef.hide()">Cancel</button>
	</form>
</div>
