<div class="component thermo-house--component">
    <div class="thermo-heating--power">
        <label class="switch">
            <input type="checkbox" class="switch-input" [checked]="dataStore.heatingPower.status" (change)="toggleStatus()">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
        </label>
        <div class="thermo-heating--power-counter">{{timerString}}</div>
    </div>

    <div class="thermo-house--outside">
        <div class="thermo-outside">
            <div class="thermo-outside--weather">
                <i class="{{ dataStore.outsideConditions.weatherIconClass }}"></i>
            </div>
        
            <div class="thermo-outside--value thermo-outside--temp">
                {{ dataStore.outsideConditions.temperature | integer }}<span class="decimal">.{{ dataStore.outsideConditions.temperature | decimal }}</span>
            </div>
        
            <div class="thermo-outside--value thermo-outside--humi">
                {{ dataStore.outsideConditions.humidity | integer }}
            </div>
        </div>        
    </div>

    <div class="thermo-house--inside">
        <i class="icon-house-simple thermo-house--icon color-gray"></i>

        <div class="thermo-heating--status">
            <i class="thermo-status--icon" [ngClass]="{'color-olive': dataStore.heatingStatus, 'color-gray': !dataStore.heatingStatus}"></i>
        </div>

        <div class="thermo--inside">
            <div class="thermo-inside">
                <div class="thermo-inside--value thermo-inside--temp">
                    <i class="thermo-inside--temp-icon"></i>
                    <span>
                        {{ dataStore.insideConditions.temperature | integer }}<span class="decimal">.{{ dataStore.insideConditions.temperature | decimal }}</span>
                    </span>
                </div>
            
                <div class="thermo-inside--value thermo-inside--humi">
                    <i class="thermo-inside--humi-icon"></i> {{ dataStore.insideConditions.humidity | integer }}
                </div>
            </div>
            
        </div>

        <div class="thermo-heating--duration">
            <i class="icon-fire color-gold"></i> {{ dataStore.heatingDuration | duration }}
        </div>
    </div>

    <div class="thermo-heating--target">
        <div class="thermo-target--control">	
            <button type="button" class="thermo-target--button thermo-target--decrease" (click)="tempAdjust(-0.1)">-</button>
            <span class="thermo-target--value color-{{ dataStore.targetTemp.ref.color }}">
                {{ dataStore.targetTemp.ref.value | integer }}<span class="decimal">.{{ dataStore.targetTemp.ref.value | decimal }}</span>
                &deg;C
            </span>
            <button type="button" class="thermo-target--button thermo-target--increase" (click)="tempAdjust(0.1)">+</button>
        </div>
        
    </div>
</div>
