<div class="modal-header">
	<h4 class="modal-title">Heating statistics</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
	<h2>Heating today</h2>
	<div class="thermo-statistics--chart-container">
		<canvas id="heatingHistoryChart" width="600" height="250"></canvas>
	</div>

	<ng-container *ngIf="hasSolarFeature">
		<h2>Solar today</h2>
		<div class="thermo-statistics--chart-container">
			<canvas id="solarHistoryChart" width="600" height="250"></canvas>
		</div>

		<h2>Grid Voltage</h2>
		<div class="thermo-statistics--chart-container">
			<canvas id="gridVoltage" width="600" height="250"></canvas>
		</div>
	</ng-container>

	<h2>Sensor temperature history today</h2>
	<div class="thermo-statistics--chart-container">
		<canvas id="sensorTempHistoryChart" width="600" height="300"></canvas>
	</div>

	<h2>Statistics for the last 30 days</h2>
	<div class="thermo-statistics--chart-container">
		<canvas baseChart id="statisticsLast30Days" width="600" height="250"></canvas>
	</div>
	
	<h2>Statistics by months</h2>
	<div class="thermo-statistics--chart-container">
		<canvas baseChart id="statisticsByMonth" width="600" height="250"></canvas>
	</div>

	<h2>Statistics by years</h2>
	<div class="thermo-statistics--chart-container">
		<canvas baseChart id="statisticsByYear" width="600" height="250"></canvas>
	</div>
</div>
