<div class="modal-header">
	<h4 class="modal-title">Heating statistics</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
	<h2>Heating today</h2>
	<div class="thermo-statistics--chart-container">
		<canvas id="heatingHistoryChart" width="600" height="200"></canvas>
	</div>

	<h2>Statistics for the last 30 days</h2>
	<div class="thermo-statistics--chart-container">
		<canvas baseChart id="statisticsLast30Days" width="600" height="200"></canvas>
	</div>
	
	<h2>Statistics this year by month</h2>
	<div class="thermo-statistics--chart-container">
		<canvas baseChart id="statisticsByMonth" width="600" height="200"></canvas>
	</div>
</div>
