@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-outside {
	font-weight: bold;
	display: flex;
	justify-content: space-around;
}

.thermo-outside--temp {
	color: $maroon;
}

.thermo-outside--humi {
	color: $navy;
}

.thermo-outside--weather {
	font-size: 3.1rem;
}
