* {
	outline: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Jura';
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	overflow-x: hidden;
	font-size: 75%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	text-align: center;
}

.component {
	background: rgba(255, 255, 255, 0.75);
	box-shadow: 2px 2px 9px 0px rgba(97,97,97,0.2);
	color: #666;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 20px;
}

.content {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .component {
    padding: 20px;
}

.facebook-login {
    border-radius: 5px;
    background-color: #0866FF;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    min-width: 150px;
}

.facebook-login:hover {
    color: white;
    background-color: #0460e0;
}

.facebook-login img {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.google-login {
    border-radius: 5px;
    background-color: white;
    color: grey;
    padding: 7px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    min-width: 150px;
}

.google-login:hover {
    color: grey;
    background-color: #dddddd;
}

.google-login img {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.login-logo {
    color: #ff851b;
    font-size: 1.6rem;
    font-family: 'Jura';
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
}

.login-logo img {
    margin-right: 15px;
}
