@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-outside {
	font-size: 1.7rem;
	font-weight: bold;
}

.thermo-outside--temp {
	display: inline-block;
	color: $maroon;

	@include icon('thermometer6');
}

.thermo-outside--humi {
	display: inline-block;
	color: $navy;

	@include icon('humidity');
}

.thermo-outside--weather {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
	font-size: 3.1rem;
}
