@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-room {
	font-size: 1.4rem;
	position: relative;
}

.thermo-room--label {
	text-align: center;
	font-size: 1rem;
	cursor: pointer;

	span {
		font-size: 0.75rem;
		vertical-align: super;
	}
}

.thermo-room-label-container {
	overflow: hidden;
	width: 100%;
	text-align: left;
	height: 2rem;
}

.thermo-room--temperature {
	text-align: center;
	color: $red;
}

.thermo-room--humidity {
	text-align: center;
	color: $aqua;
}

.thermo-room--temperature,
.thermo-room--humidity {
	i {
		font-size: 1rem;
	}
}

.thermo-room--disabled .thermo-room--humidity,
.thermo-room--disabled .thermo-room--temperature {
	color: $gray;
}

.thermo-room--status {
	font-size: 1rem;
}

.thermo-room:hover .thermo-room--status {
	display: none;
}

.thermo-room--switch {
	display: none;

	/*position: absolute;
	right: 0;
	top: 0;*/
	font-size: 1rem;
	color: $dark-gray;
	cursor: pointer;
}

.thermo-room:hover .thermo-room--switch {
	display: inline-block;
}
