@import '../../../../styles/colors/variables';
@import '../../../../styles/icons/mixins';

.thermo-room {
	font-size: 1.8rem;
	position: relative;
}

.thermo-room--label {
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	vertical-align: top;

	span {
		font-size: 0.7rem;
		vertical-align: top;
	}
}

.thermo-room-label-container {
	overflow: hidden;
	width: 100%;
	text-align: left;
	line-height: 1.2rem;
	height: 1.3rem;
}


.thermo-room--temperature,
.thermo-room--humidity {
	text-align: center;
	font-weight: bold;
}

.thermo-room--temperature {
	color: $red;
}

.thermo-room--humidity {
	color: $teal;
}

.thermo-room--temperature,
.thermo-room--humidity {
	i {
		font-size: 1rem;
		vertical-align: super;
	}
}

.thermo-room--disabled .thermo-room--humidity,
.thermo-room--disabled .thermo-room--temperature {
	color: $gray;
}

.thermo-room--status {
	font-size: 1rem;
	float: right;
}

.thermo-room:hover .thermo-room--status {
	display: none;
}

.thermo-room--switch {
	display: none;

	float: right;
	font-size: 1rem;
	color: $dark-gray;
	cursor: pointer;
}

.thermo-room:hover .thermo-room--switch {
	display: inline-block;
}
