<div class="thermo-room" [ngClass]="{'thermo-room--disabled': !sensor.enabled || sensor.windowOpen}">
	<div class="row no-gutters">
		<div class="col-12">
			<div class="thermo-room-label-container">
				<span class="thermo-room--status icon-wifi color-{{restartSensorInProgress ? 'yellow' : (!sensor.enabled || sensor.windowOpen ? 'gray' : sensor.active ? 'mint' : 'red')}}" (click)="toggleSensorStatus()"></span>
				<span class="thermo-room--label" (click)="changeLabel()">
					<span>({{ sensor.id }})</span> {{ sensor.label || sensor.id }}
				</span>
			</div>
		</div>
		<div class="col-6">
			<div class="thermo-room--temperature">
				<temperature [value]="sensor.temperature" [withIcon]="true"></temperature>
			</div>
		</div>
		<div class="col-6">
			<div class="thermo-room--humidity">
				<humidity [value]="sensor.humidity" [withIcon]="true"></humidity>
			</div>
		</div>
	</div>
</div>
