<div class="thermo-room" [ngClass]="{'thermo-room--disabled': !sensor.enabled}">
	<div class="row no-gutters">
		<div class="col-12">
			<div class="thermo-room-label-container">
				<span class="thermo-room--status icon-wifi color-{{restartSensorInProgress ? 'yellow' : (!sensor.enabled ? 'gray' : sensor.active ? 'mint' : 'red')}}" (click)="toggleSensorStatus()"></span>
				<span class="thermo-room--label" (click)="changeLabel()">
					<span>({{ sensor.id }})</span> {{ sensor.label || sensor.id }}
				</span>
			</div>
		</div>
		<div class="col-6">
			<div class="thermo-room--temperature">
				<i class="icon-thermometer6"></i>
				{{ sensor.temperature | integer }}<span class="decimal">.{{ sensor.temperature | decimal }}</span>
			</div>
		</div>
		<div class="col-6">
			<div class="thermo-room--humidity">
				<i class="icon-humidity"></i>
				{{ sensor.humidity }}
			</div>
		</div>
	</div>
</div>
