:host {
	font-size: 1.4rem;
}

i {
	font-size: 2.4rem;
}

.solar-production,
.radiators {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	font-weight: bold;
}

.solar-production {
	justify-content: center;
	position: relative;
	padding: 5px 0 20px;

	i {
		margin-right: 10px;
	}

	.line-vertical {
		width: 2px;
		height: 17px;
		position: absolute;
		bottom: 2px;
		left: calc(50% - 1px);
	}
}

.radiators {
	height: 100%;
	flex-direction: column;
}

.radiators i {
	margin: 5px;
}

.grid-injection {
	.icons {
		display: flex;
		justify-content: space-around;
		align-items: center;

		.line-horizontal {
			flex: 1;
			height: 2px;
			margin: 0 5px;
			position: relative;
		}

		.direction-container {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			overflow: hidden;
		}

		.direction-content {
			width: 200%;
			display: flex;
			justify-content: space-around;
			font-size: 0.9rem;
		}
	}

	.value {
		display: flex;
		justify-content: space-between;
		font-weight: bold;
	}
}

.heating-duration {
	text-align: center;
	font-size: 1.1rem;
	font-weight: normal;
}

.icon-timer {
	font-size: 1rem;
}

.switch-wrapper {
	display: flex;
	justify-content: center;
}


.animate-left {
	animation: 6s animate-left infinite linear;
}

.animate-right {
	animation: 6s animate-right infinite linear;
}

@keyframes animate-right {
	0% {
		transform: translate(-34%);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes animate-left {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(-34%);
	}
}
