<div class="row">
  <div class="col-12 col-md-6">
    <div class="component">
      <div class="solar-production" [ngClass]="{
        'color-orange': dataStore?.solarHeatingStatus?.solarProduction > 0,
        'color-dark-gray': dataStore?.solarHeatingStatus?.solarProduction === 0
      }">
        <i class="icon-solar-panel"></i>
        {{ dataStore?.solarHeatingStatus?.solarProduction }} W

        <div class="line-vertical color-bg-dark-gray"></div>
      </div>

      <div class="grid-injection">
        <div class="icons">
          <i class="house icon-house-7 color-dark-gray"></i>

          <div class="line-horizontal color-bg-dark-gray">
            <div class="direction-container" *ngIf="consumption > 0">
              <div class="direction-content animate-left">
                <div class="direction color-dark-gray" *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">❮</div>
              </div>
            </div>
          </div>

          <div class="empty"></div>

          <div class="line-horizontal" [ngClass]="{
            'color-bg-olive': dataStore?.solarHeatingStatus?.gridInjection >= 0,
            'color-bg-vermillion': dataStore?.solarHeatingStatus?.gridInjection < 0
          }">
            <div class="direction-container" *ngIf="dataStore?.solarHeatingStatus?.gridInjection !== 0">
              <div class="direction-content" [ngClass]="{'animate-left': dataStore?.solarHeatingStatus?.gridInjection < 0, 'animate-right': dataStore?.solarHeatingStatus?.gridInjection > 0}">
                <div class="direction" *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [ngClass]="{
                  'color-olive': dataStore?.solarHeatingStatus?.gridInjection > 0,
                  'color-vermillion': dataStore?.solarHeatingStatus?.gridInjection < 0
                }">{{
                  dataStore?.solarHeatingStatus?.gridInjection > 0 ? '❯' : '❮'
                }}</div>
              </div>
            </div>
          </div>

          <i class="grid icon-electric-tower-energy" [ngClass]="{
            'color-olive': dataStore?.solarHeatingStatus?.gridInjection >= 0,
            'color-vermillion': dataStore?.solarHeatingStatus?.gridInjection < 0
          }"></i>
        </div>

        <div class="value">
          <span>
            {{ consumption }} W
          </span>

          <span [ngClass]="{
            'color-olive': dataStore?.solarHeatingStatus?.gridInjection > 0,
            'color-vermillion': dataStore?.solarHeatingStatus?.gridInjection < 0
          }">
            {{ dataStore?.solarHeatingStatus?.gridInjection }} W
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="component">
      <div class="radiators">
        <div *ngIf="!dataStore.solarHeatingStatus?.numberOfRadiators && !dataStore.solarHeatingStatus?.wattHourConsumption">No radiators</div>

        <div class="row" *ngIf="dataStore.solarHeatingStatus?.numberOfRadiators || dataStore.solarHeatingStatus?.wattHourConsumption">
          <div class="col-6 radiators">
            <i class="icon-radiator"
              [ngClass]="{ 'color-olive': dataStore.solarHeatingStatus?.wattHourConsumption, 'color-dark-gray': !dataStore.solarHeatingStatus?.wattHourConsumption }"></i>
          </div>
          <div class="col-6 radiators">
            <span [ngClass]="{ 'color-olive': dataStore.solarHeatingStatus?.wattHourConsumption, 'color-dark-gray': !dataStore.solarHeatingStatus?.wattHourConsumption }">
              {{ dataStore.solarHeatingStatus?.wattHourConsumption }} W
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-6 heating-duration">
            <i class="icon-timer color-gold"></i> {{ dataStore?.solarHeatingDuration | duration }}
          </div>
          <div class="col-6 switch-wrapper">
            <label class="switch">
              <input #powerSwitch type="checkbox" class="switch-input" [checked]="dataStore.config.solarHeatingDisabled?.value !== true" (change)="toggleStatus()">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
