@import '../../styles/colors/variables';

.plantwatering-status {
	line-height: 3rem;
	height: 2.9rem;
	font-size: 1.4rem;
	text-align: center;
	color: $olive;
}

.plantwatering-status--dry {
	color: $crimson;
}

.plantwatering-status--wet {
	color: $olive;
}

.plantwatering-status--text {

}

.plantwatering-icon {
	font-size: 2.7rem;
	vertical-align: middle;
}
