<div class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 thermo-header">
				SmartHome

				<div class="pull-left">
					<button class="dropdown-toggle icon-hamburger-menu-2 reset-button color-dark-gray" data-toggle="dropdown" role="button" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu">
						<li class="dropdown-header">Heating</li>
						<li><a href="javascript:void(0)" ng-click="statisticsModalOpen()"><i class="icon-stats"></i> Statistics</a></li>
						<li><a href="#" data-toggle="modal" data-target="#heating-config"><i class="icon-settings"></i> Config</a></li>
						<li><a href="javascript:void(0)" ng-click="restartSensor()"><i class="icon-continuous"></i> Restart sensors</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Security</li>
					</ul>
				</div>

				<div class="pull-right">
					<div class="thermo-refresh icon-continuous in-progress" ng-class="{'color-dark-gray': currentDate - lastUpdate < 5 * 60 * 1000, 'color-orange': currentDate - lastUpdate >= 5 * 60 * 1000 && currentDate - lastUpdate < 10 * 60 * 1000, 'color-red': currentDate - lastUpdate >= 10 * 60 * 1000, 'thermo-spin': initInProgress}" ng-click="refresh()"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container mainContent">
	<div class="row" style="{{init ? '' : 'display:none;'}}">
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
			<div class="thermo-component">
				<div class="thermo-status">
					<div class="thermo-status--outside">
						<div class="thermo-status--weather">
							<i class="{{outside.weatherIconClass}}"></i>
						</div>

						<div class="thermo-status--value thermo-status--temp">
							<i class="icon-thermometer6"></i> <span ng-bind-html="outside.temp | float"></span>
						</div>

						<div class="thermo-status--value thermo-status--humi">
							<i class="icon-humidity"></i> {{outside.humi}}
						</div>
					</div>

					<div class="thermo-status--inside">
						<i class="icon-house-simple thermo-status--house-icon color-{{security === SECURITY_STATUSES.PREACTIVATED ? 'orange' : security === SECURITY_STATUSES.ACTIVATED ? 'red' : 'dark-gray'}}"></i>

						<i class="icon-air-conditioner-3 thermo-status--icon color-{{isHeatingOn ? 'olive' : 'gray'}}"></i>
						<i class="icon-{{security === SECURITY_STATUSES.ARMED ? 'padlock-closed' : 'padlock-open'}} thermo-status--icon-lock color-{{SECURITY_ARMED_STATUSES.includes(security) ? 'red' : security === SECURITY_STATUSES.ARMING ? 'orange' : 'mint'}}" ng-click="scope().securityToggleAlarm()"></i>
						<div class="thermo-status--value thermo-status--temp">
							<i class="icon-thermometer6"></i> <span ng-bind-html="inside.temp | float"></span>
						</div>

						<div class="thermo-status--value thermo-status--humi">
							<i class="icon-humidity"></i> {{inside.humi}}
						</div>

						<div class="thermo-status--run-duration">
							<i class="icon-fire"></i> {{statisticsForToday.heatingDuration | duration}}
						</div>
					</div>
				</div>

				<div class="thermo-target">
					<div class="thermo-target--control">
						<button type="button" class="thermo-target--button thermo-target--decrease" ng-click="scope().tempAdjust(targetTemp.ref._id, -0.1)">-</button>
						<span class="thermo-target--value color-{{targetTemp.ref.color}}"><span ng-bind-html="targetTemp.ref.value | float"></span> &deg;C</span>
						<button type="button" class="thermo-target--button thermo-target--increase" ng-click="scope().tempAdjust(targetTemp.ref._id, 0.1)">+</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
			<div class="row">
				<div ng-repeat="(id, data) in inside.individual" class="col-xs-12 col-md-6">
					<div class="thermo-room thermo-component" ng-class="{'thermo-room--disabled': !data.enabled}">
						<div class="thermo-room--status icon-wifi color-{{scope().restartSensorInProgress ? 'yellow' : (!data.enabled ? 'gray' : data.active ? 'mint' : 'red')}}"></div>
						<i class="thermo-room--switch icon-power-button" ng-click="scope().toggleSensorStatus(id)"></i>
						<div class="thermo-room--label" ng-click="scope().openModalChangeSensorLabel(id)">
							{{data.label || id}} <span>({{id}})</span>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="thermo-room--temperature">
									<i class="icon-thermometer6"></i>
									<span ng-bind-html="data.temperature | float"></span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="thermo-room--humidity">
									<i class="icon-humidity"></i>
									{{data.humidity}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="thermo-component thermo-plan thermo-plan--horizontal">
				<h3>{{todaysPlan.plan.ref.name}}</h3>
				<i class="icon-settings-1 color-maroon thermo-plan--change" data-toggle="modal" data-target=".thermo-select-plan--modal" data-default-week-plan="{{currentDate.getDay()}}"></i>

				<div class="thermo-plan--current-time" ng-class="{'thermo-plan--last-part': percentInDay > 80}" style="left: {{percentInDay}}%;">
					{{currentTime}}
				</div>

				<div class="thermo-plan--chart clearfix">
					<div class="thermo-plan--period color-{{interval.temp.ref.color}}" ng-class="{'last-child': todaysPlan.plan.ref.intervals.indexOf(interval) === todaysPlan.plan.ref.intervals.length - 1}" style="width: {{interval.blockPosition}}%;" ng-repeat="interval in todaysPlan.plan.ref.intervals | filter:blockPosition">
						<i class="{{interval.temp.ref.iconClass}}"></i>
					</div>
					<div class="thermo-plan--pointer color-bg-{{scope().targetTemp.ref.color}}" style="left: {{percentInDay}}%;"></div>
				</div>

				<div class="thermo-plan--labels">
					<div class="thermo-plan--label" ng-repeat="interval in todaysPlan.plan.ref.intervals" ng-class="{'thermo-plan--label--first': todaysPlan.plan.ref.intervals.indexOf(interval) === 0}" style="left: {{interval.labelPosition}}%">{{interval.label}}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="heating-config" tabindex="-1" role="dialog" aria-labelledby="heating-config">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="heating-config-label">Settings</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<h2>Temperature settings</h2>
						<div class="thermo-temps row">
							<div class="thermo-temps--temp col-xs-6 col-md-4 col-lg-3" ng-repeat="temp in temps">
								<div class="color-{{temp.ref.color}}">
									<i class="{{temp.ref.iconClass}}"></i> <span class="thermo-temps--temp-name">{{temp.name}}</span>
									<div class="thermo-temps--temp-control" data-id="{{temp.ref._id}}">
										<button type="button" class="thermo-temps--temp-button thermo-temps--temp--decrease" ng-click="scope().tempAdjust(temp.ref._id, -0.1)">-</button>
										<span class="thermo-temps--temp-value"><span ng-bind-html="temp.ref.value | float"></span> &deg;C</span>
										<button type="button" class="thermo-temps--temp-button thermo-temps--temp--increase" ng-click="scope().tempAdjust(temp.ref._id, 0.1)">+</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<h2>Plan for the week</h2>
						<div class="thermo-default-plans clearfix">
							<div class="thermo-default-plans--plan" ng-repeat="defaultPlan in heatingDefaultPlans" ng-if="defaultPlan.dayOfWeek > 0" data-toggle="modal" data-target=".thermo-select-plan--modal" data-default-week-plan="{{defaultPlan.dayOfWeek}}">
								<div class="thermo-default-plans--day-name thermo-default-plans--day-name-full">{{defaultPlan.nameOfDay}}</div>
								<div class="thermo-default-plans--day-name thermo-default-plans--day-name-abbr">{{defaultPlan.nameOfDay | first2chars}}</div>

								<i class="{{defaultPlan.plan.ref.iconClass}}"></i>
							</div>

							<div class="thermo-default-plans--plan" data-toggle="modal" data-target=".thermo-select-plan--modal" data-default-week-plan="0">
								<div class="thermo-default-plans--day-name thermo-default-plans--day-name-full">{{heatingDefaultPlans[0].nameOfDay}}</div>
								<div class="thermo-default-plans--day-name thermo-default-plans--day-name-abbr">{{heatingDefaultPlans[0].nameOfDay | first2chars}}</div>

								<i class="{{heatingDefaultPlans[0].plan.ref.iconClass}}"></i>
							</div>
						</div>
					</div>

					<!--
					<div class="col-xs-12">
						<h2>Calendar</h2>

						<div class="responsive-calendar">
							<div class="controls">
								<a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
								<h4>
									<span data-head-year></span>
									<span data-head-month></span>
								</h4>
								<a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
							</div>
							<hr/>
							<div class="day-headers">
								<div class="day header">Mon</div>
								<div class="day header">Tue</div>
								<div class="day header">Wed</div>
								<div class="day header">Thu</div>
								<div class="day header">Fri</div>
								<div class="day header">Sat</div>
								<div class="day header">Sun</div>
							</div>
							<div class="days" data-group="days" data-toggle="modal" data-target=".thermo-select-plan--modal">

							</div>
						</div>
					</div>
					-->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="thermo-select-plan--modal modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Select plan</h4>
			</div>
			<div class="modal-body">
				<div ng-repeat="planToChoose in heatingPlans" class="thermo-component" ng-class="{'thermo-select-plan--selected': todaysPlan.plan.ref._id === planToChoose.ref._id}" ng-click="selectPlan(planToChoose.ref._id)">
					<div class="row">
						<div class="col-xs-3">
							<div class="thermo-select-plan--icon">
								<i class="{{planToChoose.ref.iconClass}}"></i>
							</div>
						</div>
						<div class="col-xs-9">
							{{planToChoose.ref.name}}
							<div class="thermo-plan--horizontal">
								<div class="thermo-plan--chart clearfix">
									<div class="thermo-plan--period color-{{interval.temp.ref.color}}" ng-class="{'last-child': todaysPlan.plan.ref.intervals.indexOf(interval) === todaysPlan.plan.ref.intervals.length - 1}" style="width: {{interval.blockPosition}}%;" ng-repeat="interval in planToChoose.ref.intervals | filter:blockPosition">
										<i class="{{interval.temp.ref.iconClass}}"></i>
									</div>
								</div>

								<div class="thermo-plan--labels">
									<div class="thermo-plan--label" ng-repeat="interval in planToChoose.ref.intervals" style="left: {{interval.labelPosition}}%">{{interval.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade security-keypad--modal" id="security-keypad-modal" tabindex="-1" role="dialog" aria-labelledby="security-keypad">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="security-keypad-label">Passcode</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						 <div class="form-group">
							<input type="password" class="form-control" id="security-passcode" placeholder="Passcode" disabled>
						</div>
					</div>
				</div>
				<div class="row keypad-row" ng-repeat="row in [0,1,2]">
					<div class="col-xs-4" ng-repeat="number in [1,2,3]">
						<button type="button" data-value="{{row * 3 + number}}" class="col-xs-12 btn btn-default btn-lg">{{row * 3 + number}}</button>
					</div>
				</div>

				<div class="row keypad-row">
					<div class="col-xs-4">
						<button type="button" data-value="Delete" class="col-xs-12 btn btn-default btn-lg">Del</button>
					</div>

					<div class="col-xs-4">
						<button type="button" data-value="0" class="col-xs-12 btn btn-default btn-lg">0</button>
					</div>

					<div class="col-xs-4">
						<button type="button" data-value="Backspace" class="col-xs-12 btn btn-default btn-lg">Clr</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
