@import '../../styles/colors/variables';

@keyframes pulsate {
    0%   { }
    50%  {
    	border-color: transparentize($white, 1);
    	opacity: 0.3;
    }
    100% { }
}

.security-status {
	font-size: 1.4rem;
	line-height: 3rem;
	text-align: center;
}

.security-status--text {
	display: inline-block;
	width: 10rem;
}

.security-toggle {
	display: inline-block;
	vertical-align: bottom;
	width: 7rem;
	height: 2.9rem;
	padding: 0.5rem;
	border-radius: 2rem;
	position: relative;
	background: transparentize($white, 0.5);
	border: 3px solid transparentize($white, 0.7);
	transition: all 0.5s ease;
	cursor: pointer;

	&:before {
	    content: '';
	    width: 2.5rem;
	    height: 2.5rem;
	    background: transparentize($white, 0.55);
	    position: absolute;
	    left: 0;
	    border-radius: 999px;
	    top: 0;

	    transition: all 0.5s ease;
	}
}

.security-toggle--open {
	&:before {
		left: 0;
	}
}

.security-toggle--transit {
	animation: pulsate 1s infinite;

	&:before {
		left: 0;
		width: 100%;
	}
}

.security-toggle--closed {
	&:before {
		left: 62%;
	}
}

.security-status-icon {
	font-size: 1.5rem;
	vertical-align: sub;
	color: $white;
}

.security-status-icon-open {
	float: left;
}

.security-status-icon-closed {
	float: right;
}


.security-disarmed {
	background-color: transparentize($olive, 0.35);
}

.security-armed {
	background-color: transparentize($vermillion, 0.35);
}

.security-arming {
	background-color: transparentize($gold, 0.35);
}

.security-prealarm {
	background-color: transparentize($crimson, 0.35);
}

.security-alarm {
	background-color: transparentize($red, 0.35);
}


.security-alarm-icon {
	color: $gray;
	font-size: 1.5rem;
	vertical-align: sub;
	padding-right: 15px;
	display: inline-block;
}

.security-alarm-icon--triggered {
	color: $red;
}

.security-statistics {
	font-size: 0.9rem;
	text-align: center;
}
